.message-board-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-y: scroll;
    height: 100%;
  }
  .message-container {
    display: flex;

    .message {
      padding: 1rem;
      background-color: lightblue;
      border: 1px solid lightgoldenrodyellow;
      border-radius: 12px;
      margin-bottom: 1rem;
      text-align: left;
      max-width: 70%;
    }
  }
  .regular-message {
    justify-content: flex-start;
  }
  .user-message {
    justify-content: flex-end;
  }
}
