.todo-list-container{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .todo-list{
        list-style-type: none;

        .item-container {
            display: flex;
            justify-content: center;
            margin-bottom: 0.5rem;
            border-bottom: 1px gray dashed;
            padding: 0.75rem;


            .title{
                min-width: 200px;
                margin-right: 4rem;
            }

            .action{
                border-radius: 8px;
                margin-right: 1rem;
                min-width: 4rem;
            }
        }
    }
}