.countries-header {
    position: sticky;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 100;
    top: 0;
    width: 100%;

    .title {
        text-align: left;
    }

    .controls {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 1rem;

        input {
            flex: 1;
            min-width: 250px;
            max-width: 500px;
            height: 40px;
        }

        .select {
            height: 40px;
            text-align: left;
        }
        .field {
            width: 160px;
        }

        .order {
            width: 120px;
        }
    }
}