.countries-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    flex-grow: 1;
    font-family: "Segoe UI", sans-serif;

    .message-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 10rem 0;

        .loading-message {
            margin-left: 1rem;
            margin-bottom: 0;
            color: #1677FF;
        }
    }

    .countries-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 16px;
        margin-top: 0.5rem;
        overflow-y: scroll;
    }
}
