.sidebar-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: solid gray 1px;
    border-radius: 15px;
    margin: 1rem;
    background-color: #f9f9f9;

    .sidebar-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px gray dashed;
        padding: 1rem;

        .sidebar-title {
            font-size: 1.5rem;
        }

        .collaps-icon {
            font-size: 1.5rem;
        }
    }

    .nav {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        
        .link {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
            padding: 0.25rem;
            
            .link-lable {
                margin-left: 0.5rem;
            }
        }
    }
}

.sidebar-expand {
    min-width: 200px;
}

.sidebar-collaps {
    min-width: 70px;
}