.tree-menu-container {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    input {
      border: 1px solid darkgray;
      border-radius: 8px;
      margin: 1rem 0;
      margin-left: 1rem;
    }
  }
}

.loading,
.no-items,
.error {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
